// Custom styles.
@media screen and (min-width:1200px) {

    body {
    background-image:url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:100% 100%; 
    }

    #footer a {
        color:#eee;
    }
}