<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Basic-Switching.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645495</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CCNPDAY1.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645603</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CCNPDAY2.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645603</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CCNPDAY3.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645698</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CCNPDAY4.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645698</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CCNPDAY5.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645805</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CCNPDAY6.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645805</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CCNPDAY7.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645901</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>IPv4-Address.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645901</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>OSI-and-TCP-IP.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645996</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Python-Basic.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645996</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Spanning-Tree.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.496454</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>basic-shell-script.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49645996</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>first-contact-with-linux.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49646103</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>iptables-firewalld.md</key>
			<dict>
				<key>lastModification</key>
				<real>570509271.49646103</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>571821245.51539302</real>
				<key>lastModification</key>
				<real>571821245.51539302</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>测试.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>571800785.40029299</real>
				<key>lastModification</key>
				<real>571800785.40029299</real>
				<key>version</key>
				<dict>
					<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Spanning-Tree.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>Basic-Switching.md</string>
		</array>
		<array>
			<string>CCNPDAY1.md</string>
		</array>
		<array>
			<string>CCNPDAY2.md</string>
		</array>
		<array>
			<string>CCNPDAY3.md</string>
		</array>
		<array>
			<string>CCNPDAY4.md</string>
		</array>
		<array>
			<string>CCNPDAY5.md</string>
		</array>
		<array>
			<string>CCNPDAY6.md</string>
		</array>
		<array>
			<string>CCNPDAY7.md</string>
		</array>
		<array>
			<string>IPv4-Address.md</string>
		</array>
		<array>
			<string>OSI-and-TCP-IP.md</string>
		</array>
		<array>
			<string>Python-Basic.md</string>
		</array>
		<array>
			<string>basic-shell-script.md</string>
		</array>
		<array>
			<string>first-contact-with-linux.md</string>
		</array>
		<array>
			<string>iptables-firewalld.md</string>
		</array>
		<array>
			<string>测试.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f390bf215b2117f36061728abcf70cec92b9a8c7c83baa02121ef90bde4fd7ec</key>
			<integer>12</integer>
		</dict>
	</dict>
</dict>
</plist>
